@import "../vars"

.contacts
    position: relative
    &__main
        position: absolute
        top: 0
        left: 0
        right: 65%
        bottom: 0
        text-align: right
        background-color: rgba(250, 250, 250, 0.8)

    &__inner
        padding: 59px 100px 25px 15px
        display: inline-block
        text-align: left

    &__title
        margin-top: 50px
        font-size: 1.5em
        color: rgba(0, 0, 0, 0.54)

    &__txt
        line-height: 2
        color: rgba(0, 0, 0, 0.54)

$xlg: 1249px
$lg: 1100px
$md: 1000px
$sm: 700px
$xs: 420px

@media (max-width: $md)
    .contacts__main
        right: 50%

@media (max-width: $sm)
    .contacts__main
        right: 40%
    .contacts__inner
        padding: 30px 15px 25px 15px

@media (max-width: $xs)
    .contacts__main
        position: static
        text-align: center
    .contacts__inner
        padding: 15px
